DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_TOKEN=
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_DISCORD_CLIENT_ID=1036399641887002684

MONGO_URI=
DB_NAME=synthlat

ENCRYPTION_KEY=abcd

OWNER_ID=749005619800965121

CLOUDFLARE_TUNNEL_TOKEN=